@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  .prose ul li, .prose ol li {
    margin-top: 1.25rem !important; /* ~20px or 0.5cm */
    margin-bottom: 1.25rem !important;
  }
  
  .prose p {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
  }
}
